{% extends 'home/base.html' %}

{% load static %}

{% block content %}

<!-- SLIDER -->
<section class="slider d-flex align-items-center">
 
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="slider-title_box">
          <div class="row">
            <div class="col-md-12">
              <div class="slider-content_wrap">
                <h1>Reserva tu mesa en los mejores restaurantes</h1>
                <h5>Descuida, no tienes que esperar, lo hacemos por ti.</h5>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-10">
              <form class="form-wrap mt-4" action="listado/" method="GET" >
                <label for="q"></label>
                {% csrf_token %}
                <div class="btn-group" role="group" aria-label="Basic example">
                  <input type="text" name="q"  value="{{ query|escape }}" placeholder="Donde deseas comer?" class="btn-group1">
                  <input type="text" name="q" value="{{ query|escape }}" placeholder="Ciudad" class="btn-group2">
                  <input type="submit" value="Buscar" class="btn-form" >
                </div>
              </form>
              <div class="slider-link">
                <a href="#popular">Restaurantes populares</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--// END SLIDER -->
<!--//END HEADER -->
<!--============================= FEATURED PLACES =============================-->
<section id="popular" class="main-block light-bg">
  <divclass="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="styled-heading">
          <h3>Restaurantes populares</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 featured-responsive">
        <div class="featured-place-wrap">
          <a href="detail.html">
            <img src="{% static 'images/featured1.jpg' %}" class="img-fluid" alt="#">
            <span class="featured-rating-orange">{{restaurantes.rating}}</span>
            <div class="featured-title-box">
              <h6>Burger & Lobster</h6>
              <p>Restaurante </p> <span>• </span>
              <p>3 Comentarios</p> <span> • </span>
              <p><span>$$$</span>$$</p>
              <ul>
                <li><span class="icon-location-pin"></span>
                  <p>1301 Avenue, Brooklyn, NY 11230</p>
                </li>
                <li><span class="icon-screen-smartphone"></span>
                  <p>+44 20 7336 8898</p>
                </li>
                <li><span class="icon-link"></span>
                  <p>https://burgerandlobster.com</p>
                </li>

              </ul>
              <div class="bottom-icons">
                <div class="closed-now">CERRADO</div>
                <span class="ti-heart"></span>
                <span class="ti-bookmark"></span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 featured-responsive">
        <div class="featured-place-wrap">
          <a href="detail.html">
            <img src="{% static 'images/featured2.jpg' %}" class="img-fluid" alt="#">
            <span class="featured-rating-green">9.5</span>
            <div class="featured-title-box">
              <h6>Joe’s Shanghai</h6>
              <p>Restaurante </p> <span>• </span>
              <p>3 Comentarios</p> <span> • </span>
              <p><span>$$$</span>$$</p>
              <ul>
                <li><span class="icon-location-pin"></span>
                  <p>1301 Avenue, Brooklyn, NY 11230</p>
                </li>
                <li><span class="icon-screen-smartphone"></span>
                  <p>+44 20 7336 8898</p>
                </li>
                <li><span class="icon-link"></span>
                  <p>https://burgerandlobster.com</p>
                </li>

              </ul>
              <div class="bottom-icons">
                <div class="closed-now">CERRADO</div>
                <span class="ti-heart"></span>
                <span class="ti-bookmark"></span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 featured-responsive">
        <div class="featured-place-wrap">
          <a href="detail.html">
            <img src="{% static 'images/featured3.jpg' %}" class="img-fluid" alt="#">
            <span class="featured-rating">3.2</span>
            <div class="featured-title-box">
              <h6>Tasty Hand-Pulled Noodles</h6>
              <p>Restaurante </p> <span>• </span>
              <p>3 Comentarios</p> <span> • </span>
              <p><span>$$$</span>$$</p>
              <ul>
                <li><span class="icon-location-pin"></span>
                  <p>1301 Avenue, Brooklyn, NY 11230</p>
                </li>
                <li><span class="icon-screen-smartphone"></span>
                  <p>+44 20 7336 8898</p>
                </li>
                <li><span class="icon-link"></span>
                  <p>https://burgerandlobster.com</p>
                </li>

              </ul>
              <div class="bottom-icons">
                <div class="open-now">ABIERTO</div>
                <span class="ti-heart"></span>
                <span class="ti-bookmark"></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="featured-btn-wrap">
          <a href="#" class="btn btn-primary btn-lg">VER TODOS</a>
        </div>
      </div>
    </div>
    </div>
</section>
<!--//END FEATURED PLACES -->
<!--============================= ADD LISTING =============================-->
<section class="main-block light-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="add-listing-wrap">
          <h2>¿Tienes un restaurante?</h2>
          <p>Contáctanos y se parte de GestorReservas</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="featured-btn-wrap">
          <a href="#" class="btn btn-primary btn-lg"><span class="ti-email mr-3"></span>CONTÁCTANOS</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//END ADD LISTING -->
  

    {% endblock %}

