{% extends 'home/base.html' %}

{% load static %}

{% block content %}
    
<!-- Pagina de informacion  -->

<section class="main-block light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="add-listing-wrap">
                    <h2>Aca te enseñamos un poco de como funciona el GESTOR DE RESERVAS </h2>
                    <br/>
                    <p>Lo primero GESTOR DE RESERVAS te hace la vida un poco mas facil,
                     quieres ir a comer y no esperar nosotros te ayudamos.</p>
                    <p>Solamente tienes que buscar por el nombre de restaurant o lugar
                     y despues nosotros te damos la mejor opcion segun tus gustos.</p>
                    <p>Despues seleccionas cuantas personas, dia y hora que deseas la reserva,
                     le das a reservar y tienes la opcion de solamente reservar mesa o pedir el menu.</p>
                    <p>Selecciona tu menu y pagalo con tarjeta de credito o debito</p>
                </div>
            </div>
        </div>  
    </div>
</section>

{% endblock %}
 