{% extends 'home/base.html' %}

{% load static %}

{% block content %}

<!-- Pagina de cierre de sesion -->
<div class="container container-register d-flex justify-content-center">
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
   <h4 class="card-title mt-3 text-center">Cerrar sesion</h4>
   <p class="text-center">Has cerrado sesion</p>
   <p>
   <p class="text-center">Quieres volver a iniciar sesion? <a href="/login" >Ingresa</a> </p>
   <p class="divider-text">
         <span class="bg-light">O</span>
       </p>
   
   <a href="" class="btn btn-block btn-twitter"><i class="ti-twitter"> </i>Ingresar con Twitter</a>
   <a href="" class="btn btn-block btn-facebook"><i class="ti-facebook"> </i>Ingresar con facebook</a>
   </p>                                            
</form>
</article>
</div> 

</div> 

{% endblock %}