{% extends 'home/base.html' %}

{% load static %}

{% block content %}
{% if reservas %}
{% for reserva in reservas %}
<!--============================= ADD LISTING =============================-->
<section class="main-block light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="add-listing-wrap">
                    <h2>Gracias por tu reserva</h2>
                    <p>Tu reserva Nº:{{reserva.pk}} y tu MENU seleccionado estaran prontos el {{reserva.dia}} a las {{reserva.hora}} mesa
                        {{reserva.mesa}} </p>
                    <p>Gracias por tu eleccion </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="featured-btn-wrap">
                    <a href="{% url 'index' %}" class="btn btn-primary btn-lg">Volver</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <pre>






   </pre>
</div>
{% endfor %}
{%else%}

<section class="main-block light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="add-listing-wrap">
                    <h2>Uppps </h2>

                    <p>Tu reserva no pudo enviarse por favor intentalo de nuevo </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="featured-btn-wrap">
                    <a href="{% url 'index' %}" class="btn btn-primary btn-lg">Volver</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <pre>






   </pre>
</div>
<!--//END ADD LISTING -->
{% endif %}
{% endblock %}